{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-2" aria-hidden="true"></div>
			<div class="col-md-8 mb-5">
				<div class="mb-5 titremention">
					<h1 class="titremention">Mentions légales</h1>
				</div>
				<h3 class="titlergpd">1. Présentation du site.</h3>
				<p class="propriety">
					En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site
					<strong>www.######.fr</strong>
					l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
				</p>
				<ul class="propriety">
					<li>
						<strong>Propriétaire</strong>
						: BERTETTI Andrée Numéro SIRET :</li>
					<li>
						<strong>Créateur</strong>
						: BERTETTI Andrée</li>
					<li>
						<strong>Responsable publication</strong>
						: BERTETTI Andrée</li>
					<li>
						<strong>Webmaster</strong>
						: BERTETTI Andrée 06 85 51 80 10</li>
					<li>
						<strong>Hébergeur</strong>
						: #######</li>
				</ul>

				<h3 class="titlergpd">2. Conditions générales d’utilisation du site et des services proposés.</h3>
				<p class="propriety">
					L’utilisation du site
					<strong>www.######.fr</strong>
					implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site sont donc invités à les consulter de manière régulière.
				</p>
				<p class="propriety">
					Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut toutefois être décidée par
					<strong>BERTETTI Andrée</strong>, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
				</p>
				<p class="propriety">
					Le site
					<strong>www.######.fr</strong>
					est mis à jour régulièrement par
					<strong>BERTETTI Andrée</strong>. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.
				</p>

				<h3 class="titlergpd">3. Description des services fournis.</h3>
				<p class="propriety">
					Le site
					<strong>www.######.fr</strong>
					a pour objet de fournir une information concernant l’ensemble des activités de la société.
				</p>
				<p class="propriety">
					<strong>BERTETTI Andrée</strong>
					s’efforce de fournir sur le site
					<strong>www.######.fr</strong>
					des informations aussi précises que possible. Toutefois, elle ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
				</p>
				<p class="propriety">
					Toutes les informations indiquées sur le site
					<strong>www.######.fr</strong>
					sont données à titre indicatif et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site
					<strong>www.######.fr</strong>
					ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.
				</p>

				<h3 class="titlergpd">4. Limitations contractuelles sur les données techniques.</h3>
				<p class="propriety">
					Le site utilise la technologie JavaScript. Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis à jour.
				</p>

				<h3 class="titlergpd">5. Propriété intellectuelle et contrefaçons.</h3>
				<p class="propriety">
					<strong>BERTETTI Andrée</strong>
					est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.
				</p>
				<p class="propriety">
					Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de
					<strong>BERTETTI Andrée</strong>.
				</p>
				<p class="propriety">
					Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
				</p>

				<h3 class="titlergpd">6. Limitations de responsabilité.</h3>
				<p class="propriety">
					<strong>BERTETTI Andrée</strong>
					ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur lors de l’accès au site
					<strong>www.######.fr</strong>, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.
				</p>
				<p class="propriety">
					<strong>BERTETTI Andrée</strong>
					ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site
					<strong>www.######.fr</strong>.
				</p>

				<h3 class="titlergpd">7. Politique de confidentialité.</h3>
				<p class="propriety">
					En France, les données personnelles sont notamment protégées par le Règlement européen sur la Protection des Données Personnelles (RGPD) applicable depuis le 25 mai 2018 et la loi « Informatique et liberté ».
				</p>
				<h3 class="titlergpd">Statistiques de visites</h3>
				<p class="propriety">
					<strong>www.######.fr</strong>
					utilise un service statistique afin d’établir une analyse de son trafic. À l’occasion de l’utilisation du site, différentes données, dont certaines à caractère personnel (par exemple la géolocalisation), peuvent être recueillies à des fins purement statistiques. Ces données sont collectées de façon anonyme.
				</p>
				<h3 class="titlergpd">Formulaires</h3>
				<p class="propriety">
					À l’occasion de l’utilisation du site
					<strong>www.######.fr</strong>, les utilisateurs du site peuvent être amenés à remplir un formulaire. La nature et le traitement des données personnelles collectées ainsi que l’accord explicite pour ces traitements par l’utilisateur sont spécifiés dans chaque formulaire.
				</p>
				<p class="propriety">
					En tout état de cause,
					<strong>BERTETTI Andrée</strong>
					ne collecte des informations personnelles relatives à l’utilisateur que pour le besoin de certains services proposés par le site
					<strong>www.######.fr</strong>. L’utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu’il procède par lui-même à leur saisie et à la validation des traitements. Il est alors précisé à l’utilisateur du site l’obligation ou non de fournir ces informations.
				</p>
				<h3 class="titlergpd">Conservation et protection des données</h3>
				<p class="propriety">
					Les données collectées sont conservées pendant un maximum de 3 ans. Conformément à la réglementation en vigueur,
					<strong>BERTETTI Andrée</strong>
					s’engage à protéger les données personnelles collectées sur le site et sera tenue responsable en cas de piratage ou perte de ces données.
				</p>
				<p class="propriety">
					En cas de piratage ou de perte des données personnelles collectées sur le site
					<strong>www.######.fr</strong>,
					<strong>BERTETTI Andrée</strong>
					informera la CNIL dans les 72 heures suivant la constatation.
				</p>
				<h3 class="titlergpd">Gestion des données</h3>
				<p class="propriety">
					Conformément à la réglementation en vigueur, l’utilisateur peut solliciter
					<strong>BERTETTI Andrée</strong>
					à tout moment via le formulaire de contact pour demander à :
				</p>
				<ul class="propriety">
					<li>Accéder aux données personnelles le concernant conservées par
						<strong>BERTETTI Andrée</strong>
						;</li>
					<li>Faire modifier les données personnelles le concernant conservées par
						<strong>BERTETTI Andrée</strong>
						si elles s’avèrent inexactes ;</li>
					<li>Transférer les données personnelles le concernant conservées par
						<strong>BERTETTI Andrée</strong>
						à un tiers (portabilité) ;</li>
					<li>Faire supprimer les données personnelles le concernant conservées par
						<strong>BERTETTI Andrée</strong>.</li>
				</ul>
				<p class="propriety">
					Dans ce dernier cas,
					<strong>BERTETTI Andrée</strong>
					se réserve la possibilité de conserver les données personnelles strictement nécessaires pour assurer le suivi de services auxquels elle est contractuellement liée à l’utilisateur, et ce, dans la limite indiquée dans le contrat.
				</p>
				<p class="propriety">
					Aucune donnée personnelle de l’utilisateur du site
					<strong>www.######.fr</strong>
					n’est publiée à l’insu de l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l’hypothèse du rachat de
					<strong>BERTETTI Andrée</strong>
					et de ses droits permettrait la transmission des dites informations à l’éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis-à-vis de l’utilisateur du site.
				</p>

				<h3 class="titlergpd">8. Liens hypertextes et cookies.</h3>
				<p class="propriety">
					Le site
					<strong>www.######.fr</strong>
					contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de
					<strong>BERTETTI Andrée</strong>. Cependant,
					<strong>BERTETTI Andrée</strong>
					n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.
				</p>
				<p class="propriety">
					La navigation sur le site
					<strong>www.######.fr</strong>
					est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille qui ne permet pas l’identification de l’utilisateur mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site et ont également vocation à permettre diverses mesures de fréquentation.
				</p>
				<p class="propriety">
					Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière suivante pour refuser l’installation des cookies :
				</p>
				<ul class="propriety">
					<li>
						<strong>Sous Edge :</strong>
						onglet outil (pictogramme en forme de rouage en haut à droite) / options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur OK.</li>
					<li>
						<strong>Sous Firefox :</strong>
						en haut de la fenêtre du navigateur, cliquez sur le bouton Firefox puis allez dans l’onglet Options. Cliquez sur l’onglet Vie privée. Paramétrez les règles de conservation sur : utiliser les paramètres personnalisés pour l’historique. Enfin, décochez-la pour désactiver les cookies.</li>
					<li>
						<strong>Sous Safari :</strong>
						Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par un rouage). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section « Confidentialité », cliquez sur Paramètres de contenu. Dans la section « Cookies », vous pouvez bloquer les cookies.</li>
					<li>
						<strong>Sous Chrome :</strong>Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par trois lignes horizontales). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section « Confidentialité », cliquez sur préférences. Dans l’onglet « Confidentialité », vous pouvez bloquer les cookies.</li>
				</ul>
				<h3 class="titlergpd">9. Droit applicable et attribution de juridiction</h3>
				<p class="propriety">
					Tout litige en relation avec l’utilisation du site
					<strong>www.######.fr</strong>
					est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents.
				</p>

				<h3 class="titlergpd">10. Les principales lois concernées</h3>
				<p class="propriety">
					<ul>
						<li>Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 et le décret n° 2018-378 du 22 mai 2018 relatifs à l’informatique, aux fichiers et aux libertés.</li>
						<li>Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique.</li>
						<li>Le règlement européen n°2016/679 du 27 avril 2016 dit RGPD.</li>
					</ul>
				</p>
				<h3 class="titlergpd">11. Lexique</h3>
				<p class="propriety">
					<strong>Utilisateur</strong>
					: Internaute se connectant, utilisant le site susnommé.
				</p>
				<p class="propriety">
					<strong>Données personnelles</strong>
					: « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l’identification des personnes physiques auxquelles elles s’appliquent ».
				</p>
			</div>

			<div class="col-md-2"></div>
		</div>
	</div>

{% endblock %}
