{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
    <div style="background-image: url('{{ asset('divers/images/dashboardImage.png') }}'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; width: 100vw;">
        <div class="row">
            <div class="col-md-12" style="text-align: center;"> <!-- Centre le contenu dans la colonne -->
                <div style="background-color: rgba(0, 0, 0, 0.5); padding: 20px; display: inline-block;"> <!-- Fond semi-transparent centré sur le texte -->
                    <h1>
                        L'espace d'administration
                    </h1>
                </div>
            </div>
        </div>
    </div>
<style>
        @import url('https://fonts.cdnfonts.com/css/diphylleia');

        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden; /* Empêche le défilement */
        }

        aside.content-top.ea-search-disabled {
            background-color: white;
        }

        h1 {
            font-weight: bold;   
            font-family: "Diphylleia", sans-serif; 
            text-align: center;                                                          
            color: white;
            font-size: 40px;
        }
        div.content-wrapper{
            padding: 0;
        }

        </style>
{% endblock %}
