<footer class="text-center haut">
	<div class="container p-1 pb-0">
		<div class="row">
			<div class="col-md-12">
				<section style="display: flex; justify-content: center; gap: 10px;">
					<a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/share/h6qVqQzjcXceHggN/?mibextid=LQQJ4d" role="button" aria-label="Lien vers Facebook"target="_blank">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a data-mdb-ripple-init class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/andree_bertetti?igsh=MWsyN2ltd" role="button" aria-label="Lien vers Instagram"target="_blank">
						<i class="fab fa-instagram"></i>
					</a>
				</section>
			</div>
		</div>
	</div>

	<hr style="margin: 5px 0; border: 0; border-top: 1px solid black;">

	<div class="container-fluid p-0">
		<div class="container">
			<div class="row">
				<div class="col-md-12 ">
					<a href="{{ path('app_post') }}" title="Retour à l'acceuil">
						<img class="img-fluid" src="{{ asset('divers/images/logo.png') }}" style="height: 95px;" alt="Logo du site" loading="lazy">
					</a>
				</div>
			</div>
		</div>

		<hr style="margin: 5px 0; border: 0; border-top: 1px solid black;">


		<div class="container-fluid p-0">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-3 rgpd"><a href="{{ path('app_contact') }}" title="faire une demande liée au donnée personnelle ">Modifer ou supprimer vos données</a></div>
					<div class="col-md-6 p-1 rgpd">
						© 2024-2030 Copyright:
						<a href="https://mdbootstrap.com/">lesateliersdandrée.fr</a>
					</div>
					<div class="col-md-3 t p-1 rgpd">
						<a href="{{ path('app_rgpd') }}">CGU</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
