<p>Bonjour {{ user.pseudo }}</p>
<p>Nous avons bien reçu votre demande de réinitialisation de mot de passe. Pour procéder à la réinitialisation de votre mot de passe, veuillez cliquer sur le lien ci-dessous :</p>
<p><a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p><strong>Attention:</strong> Ce lien expirera dans 15 minutes. Si vous n'avez pas effectué cette demande, veuillez ignorer cet email.</p>
<p>Si vous rencontrez des difficultés, n'hésitez pas à contacter nvia le formualire de contact.</p>
<p>Cordialement</p>
<p>Les Ateliers D'Andrée</p>